/* .App {
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
} */
.main{
  height: 100%; 
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px auto 40px;
}

.content-group{
  justify-content: center;
  padding: 10px;
  margin-left: 60px;
  width: 100%;
}

.data-table{
width: 30%;
margin-top:30px;
justify-content: left;
}


.title-table{
  justify-content: left;
  align-items: center;
  size: 30px;
  margin-top: 50px;
  margin-bottom: 40px; 
}

.chart-container {
  display: flex;
  align-items: flex-end;
  height: 200px;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  gap: 10px; /* Espaçamento entre as barras */
}

.bar {
  background-color: #4CAF50;
  width: 30px; /* Largura fixa das barras */
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: left;
}

.graph{
  display: flex;
  justify-content: left;
}

.alerts-table{
  justify-content: right;
  margin-top: 20px;
  grid-column: 3 / -1;
}
