* {
  margin: 0;
}


:root {
  --dark-primary: #082f49;
  --light-primary: #f0f9ff;
  --light-secondary: #cbd5e1;
  --accent: #fde68a;
  --btn-disabled: #a8a29e;
}
.h1{
  font-family: 'Inter', sans-serif;
  font-style: #082f49;
  font-size: 600px;

}
.main{
  font-family: 'Inter', sans-serif;
  /* background: var(--dark-primary); */
  background-color: white;
  height: 100%; 
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px auto 40px;
}

.head{
  display: grid;
}

.logo{
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: left;

}

.content-group{
  justify-content: center;
  padding: 10px;
  margin-left: 60px;
  width: 100%;
}

.data-table{
width: 80%;
margin-top:30px;
justify-content: left;
}


.title-table{
  justify-content: left;
  align-items: center;
  size: 30px;
  margin-top: 50px;
  margin-bottom: 40px; 
  color: #082f49;
}

.chart-container {
  display: flex;
  align-items: flex-end;
  height: 200px;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  gap: 10px; /* Espaçamento entre as barras */
}

.bar {
  background-color: #4CAF50;
  width: 30px; /* Largura fixa das barras */
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: left;
}

.graph{
  display: flex !important;
  justify-content: left;
  width: 100% !important;
}

.alerts-table{
  justify-content: right;
  margin-top: 106px;
  grid-column: 3 / -1;
}

#miles-logo{
  display: flex;
  justify-content: right;
  align-items: end;
  margin-left: 1000px;
  margin-top: 700px;
}

.image{
  display: flex;
  height: auto;
  width: 100px;
}